<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>

<div class="search-form">
  <%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
  <div class="field">
    <%= f.label(:name, User.human_attribute_name(:name)) %>
    <%= f.text_field :name, value: @search_params[:name] %>
  </div>

  <div class="field">
    <%= f.label(:gender, User.human_attribute_name(:gender)) %>
    <%= f.collection_radio_buttons(:gender, User.genders, :first, :first) do |r| %>
    <%= tag.div(class: 'form-check form-check-inline') do %>
      <%= r.radio_button(checked: r.value == @search_params[:gender], class: 'form-check-input') + f.label(User.human_attribute_name("gender.#{r.text}"), class: 'form-check-label') %>
      <% end %>
    <% end%>
  </div>

  <div class="field">
    <%= f.label(:birthday, User.human_attribute_name(:birthday)) %>
    <%= f.date_field :birthday_from, value: @search_params[:birthday_from] %>
  </div>

  <div class="field">
    <%= f.label(:prefecture_id, User.human_attribute_name(:prefecture_id)) %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, selected: @search_params[:prefecture_id], include_blank: t('helpers.select.include_blank')) %>
  </div>

  <div class="actions">
    <%= f.submit(t('helpers.submit.search')) %>
  </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Prefecture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.birthday %></td>
        <td><%= user.prefecture %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
